In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("data/advertising_regression.csv")

In [4]:
data.head()

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

### EXPLORATORY DATA ANALYSIS

In [5]:
data.describe()

       Unnamed: 0          TV       radio   newspaper       sales
count  200.000000  200.000000  200.000000  200.000000  200.000000
mean   100.500000  147.042500   23.264000   30.554000   14.022500
std     57.879185   85.854236   14.846809   21.778621    5.217457
min      1.000000    0.700000    0.000000    0.300000    1.600000
25%     50.750000   74.375000    9.975000   12.750000   10.375000
50%    100.500000  149.750000   22.900000   25.750000   12.900000
75%    150.250000  218.825000   36.525000   45.100000   17.400000
max    200.000000  296.400000   49.600000  114.000000   27.000000

#### a. DATA PROFILING (Optional and Not required in creating web app)

In [25]:
#import pandas_profiling as pp

In [26]:
#report = pp.ProfileReport(data)

In [27]:
#report.to_file('AdvertisingData.html')

### FEATURES SELECTION

In [7]:
# get features (X)
columns=['TV','radio','newspaper']
X=data[columns]

#get Target

y=data['sales']

### MODEL SELECTION

In [9]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import joblib

In [17]:
#TRAIN TEST SPLIT
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.4, random_state=42)

In [18]:
#Train ypur model
model=LinearRegression()

#Fit your  model
model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

### DEPLOYMENT

In [23]:
#SAVE YOUR MODEL
filename = 'advertising_model.sav'
joblib.dump(model,filename)

['advertising_model.sav']